<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="task : ${tasks}" class="checkbox">
        <input type="checkbox" name="taskIds" th:value="${task.taskId}" th:id="${task.taskId}"/>
        <label th:for="${task.taskId}" th:text="${task.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Task" />
</form>

</body>
</html>